header {
    height: 60px;

}

img {
    max-width: 100%;
}

/*---------------
 STRUCTURE
 ----------------- */

.ms-container {
    width: 100%;
}

.ms-bg-main {

    background: yellow;
    overflow-y: auto;
    width: 100%;
}

.ms-bg-aside {
    width: 100px;
    background-image: url(./img/sidebar-bg.png);
    background-color: #10273d;
    background-size: cover;
    background-position: center;
}

.ms-vh {
    height: calc(100vh - 60px)
}

.ms-main-head {

    background: blue;
}

/*---------------
HEADER
 ----------------- */

.ms-img-head {
    height: 50px;
}

.ms-search {
    background: #e5e5e5;

}

.ms-search input {
    width: 100%;
}

.ms-no-outline {
    outline: none;
}

.ms-no-arrow::after {
    display: none;
}

.ms-bell {
    color: #ff8f00;
}