header {
    height: 60px;

}

img {
    max-width: 100%;
}

/*---------------
 STRUCTURE
 ----------------- */

.ms-container {
    width: 100%;
}

.ms-bg-main {
    overflow-y: auto;
    width: 100%;
}



.ms-bg-aside {

    background-image: url(./img/sidebar-bg.png);
    background-color: #10273d;
    background-size: cover;
    background-position: center;
}

.ms-vh {
    height: calc(100vh - 60px)
}

.ms-main-head {

    background: #1b72e8
}

/*---------------
HEADER
 ----------------- */

.ms-img-head {
    height: 50px;
}

.ms-search {
    background: #e5e5e5;

}

.ms-search input {
    width: 100%;
}

.ms-no-outline {
    outline: none;
}

.ms-no-arrow::after {
    display: none;
}

.ms-bell {
    color: #ff8f00;
}

/*---------------
ASIDE
 ----------------- */

.wifi {
    flex-grow: 1;
}

/*---------------
MAIN-HEAD
 ----------------- */
.ms-square {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
}

.ms-bg-btn {
    background: #165bba;
}

/*---------------
MAIN-MAIN
 ----------------- */

.ms-table-large {
    width: 50%;
}

.ms-img-table {
    height: 30px;
}

.square-table {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
}

.offcanvas-body form input {
    width: 90%;
}

.offcanvas-body select {
    width: 90%;
}